@import './node_modules/bootstrap/scss/bootstrap';

.title {
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 2em;
}

@media screen and(max-width: 600px) {
    .title {
        font-size: 0.6em;
    }
}